---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Llamatracker - Privacy policy">
	<main>
		<div class="p-20">test privacy</div>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
