---
import Layout from '../layouts/Layout.astro';
import {getLangFromUrl, useTranslations} from "../utils/i18n/utils";
import LayoutInApp from '../layouts/Layout-inApp.astro';
import IpadBorder from "../components/IpadBorder.astro";
import IphoneBorder from "../components/IphoneBorder.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<LayoutInApp
	title="Llamatracker - 404 Not Found"
	description="Track your stats from your Fortnite’s account. Llamatracker is the perfect tool to never miss a thing on your performance,news and stay up to date all about Fortnite."
>


	<div class="max-w-screen-xl place-items-center mx-auto md:content-center flex flex-col gap-8 pt-20 pb-24">
		<div class="w-full z-10 md:top-20 ">
			<div class="home-container-text text-center">
				<h2 class="text-5xl text-white font-bold leading-none m-0">
				View the
                				<br>
			 Daily Fortnite
				</h2>
				<h1 class="text-6xl font-bold	leading-none m-0"><span class="text-gradient">
				 Items Rotation</span></h1>
				<h1 class="text-s font-bold	leading-none m-0 pt-3">
				<span class="text-gray-600">*This app does not facilitate purchases.*
				<br>
				 *It only displays publicly available Fortnite information.*</span></h1>
			</div>
		</div>
		<div class="flex flex-wrap pt-2 justify-between px-10">
			<div class="flex items-center md:flex-row-reverse">
				<div class="w-[27.05rem] flex justify-around">
					<IphoneBorder section="shop" size="s"></IphoneBorder>
				</div>
			</div>
		</div>
	</div>

	
</LayoutInApp>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	html {
		scroll-behavior: smooth;
	}
</style>
