---
import Layout from '../layouts/Layout.astro';
import Home from "../layouts/Home.astro";
import About from "../layouts/About.astro";
import Feature from "../layouts/Feature.astro";
import Download from "../layouts/Download.astro";
---

<Layout title="Llamatracker">
	<main>
		<Home></Home>
		<Feature></Feature>
		<About></About>
		<Download appleButton="true"></Download>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
