---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Home from "../layouts/Home.astro";
import Download from "../layouts/Download.astro";
import Feature from "../layouts/Feature.astro";
---

<Layout title="Llamatracker">
	<main>
		<Home/>
		
		<Download/>
		<Feature />

		<div>
			<div>
				Llamatracker Features
			</div>
			<div>
				<div>
					Search fortnite profile
				</div>
				<div>
					Daily shop
					Item details
				</div>
				<div>
					Official fortnite news
					News details
				</div>
				<div>
					and more
					Current map and POIs
					Your own profile
				</div>
			</div>
		</div>
		<div>
			<div>
				ppl say...
			</div>
			<div>
				<div>
					Testimonial 1
				</div>
				<div>
					Testimonial 2
				</div>
				<div>
					Testimonial 3
				</div>
				<div>
					Testimonial 4
				</div>
				<div>
					Testimonial 5
				</div>
				<div>
					Testimonial 6
				</div>
				<div>
					Testimonial 7
				</div>
				<div>
					Testimonial 8
				</div>
			</div>
			<div>
				<Download/>
			</div>
			<div>
				Footer
			</div>
		</div>
		<Download/>
		<div>
			<div>
				Footer
			</div>
		</div>

	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
