---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Llamatracker - Privacy policy">
	<main>
		<div class="py-36 px-20 flex flex-col gap-12">
			<div>
				<h2 class="text-5xl font-bold w-full text-center mb-12">
					Política de Privacidad
				</h2>
				<h3>
					Última actualización: 17/12/2025
				</h3>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					1. Introducción
				</h3>
				<p class="pl-5">
					Bienvenido a Llamatracker. Esta aplicación está diseñada para buscar perfiles de Fortnite y mostrar la tienda del juego. Respetamos la privacidad de nuestros usuarios y, por lo tanto, queremos aclarar que no recopilamos ningún tipo de información personal.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					2. Datos que NO Recopilamos
				</h3>
				<p class="pl-5">
					Al usar Llamatracker, no recopilamos, almacenamos ni compartimos:
					<br>
					Información personal (nombre, correo electrónico, ubicación, etc.).
					Identificadores del dispositivo.
					Archivos o contenido del usuario.
					Datos de navegación o de uso automático.
					La app funciona sin necesidad de permisos especiales y sin la recopilación de datos personales.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					3. Uso de Terceros y Publicidad
				</h3>
				<p class="pl-5">
					Llamatracker no comparte datos con terceros porque no recolectamos ninguna información.
					Tampoco utilizamos sistemas de anuncios personalizados, ni herramientas de análisis como Google Analytics.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					4. Seguridad de los Datos
				</h3>
				<p class="pl-5">
					Dado que no recopilamos ni almacenamos información personal, no implementamos medidas adicionales de seguridad de datos.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					5. Niños y Menores de Edad
				</h3>
				<p class="pl-5">
					Llamatracker no está dirigida específicamente a menores de edad, pero puede ser utilizada por ellos. No recopilamos información personal de ningún usuario, independientemente de su edad.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					6. Cumplimiento de Normativas Internacionales
				</h3>
				<p class="pl-5">
					Nuestra política de privacidad cumple con:
					<br>
					<br>
					GDPR (Reglamento General de Protección de Datos - Europa).
					<br>
					CCPA (Ley de Privacidad del Consumidor de California).
					<br>
					LGPD (Ley General de Protección de Datos - Brasil).
					<br>
					<br>
					Como no recopilamos ni procesamos datos personales, no aplican las obligaciones de estas leyes en términos de gestión de datos.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					7. Cambios a Esta Política de Privacidad
				</h3>
				<p class="pl-5">
					Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será notificado a través de esta página.
				</p>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">
					8. Contacto
				</h3>
				<p class="pl-5">
					Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, puedes ponerte en contacto con nosotros:
					<br>
					Correo electrónico: support@llamatracker.net
				</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
