---
import Layout from '../layouts/Layout.astro';
---
<Layout 
	title="Llamatracker - Support"
	description="Track your stats from your Fortnite’s account. Llamatracker is the perfect tool to never miss a thing on your performance,news and stay up to date all about Fortnite."
>
	<main class="grid min-h-full h-dvh place-items-center  px-6 py-24 sm:py-32 lg:px-8">
		<div class="text-center">
			<p class="text-3xl font-semibold text-purple-500">Costumer Support</p>
			<h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-200 sm:text-7xl">Contact with us:</h1>
			<p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
				Contact us at: support@llamatracker.net
				<br>
			</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<a href="mailto:support@llamatracker.net" class="rounded-md bg-blue-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					Send us an email
				</a>
				<!--<a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>-->
			</div>
		</div>
	</main>
</Layout>

