---
import Layout from '../../layouts/Layout.astro';
import Home from "../../layouts/Home.astro";
import About from "../../layouts/About.astro";
import Feature from "../../layouts/Feature.astro";
import Download from "../../layouts/Download.astro";
---

<Layout 
	title="Llamatracker"
	description="Track your stats from your Fortnite’s account. Llamatracker is the perfect tool to never miss a thing on your performance,news and stay up to date all about Fortnite."
>
	<main>
		<div id="casa"></div>
		<Home></Home>
		<div id="funzionalita"></div>
		<Feature></Feature>
		<div id="di"></div>
		<About></About>
		<div id="scaricamento"></div>
		<Download appleButton={true}></Download>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	html {
		scroll-behavior: smooth;
	}
</style>
