---
interface Props {
    size?: string
}

const {
    size
} = Astro.props;
---
<div class="flex justify-center md:w-auto" tabindex="0">
    <a target="_blank" aria-label="Download on the Google Play Store"
       class="rounded-2xl p-2 flex items-center w-40 sm:w-48 md:w-56 bg-white text-gray-900 hover:bg-gray-50"
       class:list={[`${size == 's' ? 'w-32 md:w-40' : null }`]}
       href="">
        <svg width="100%" viewBox="0 0 132 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M107.104 31.6918H109.041V18.4767H107.104V31.6918ZM124.55 23.2375L122.33 28.9665H122.263L119.959 23.2375H117.873L121.329 31.2447L119.358 35.699H121.378L126.704 23.2378L124.55 23.2375ZM113.565 30.1908C112.932 30.1908 112.046 29.8674 112.046 29.0685C112.046 28.0485 113.149 27.6575 114.099 27.6575C114.951 27.6575 115.352 27.8442 115.869 28.0994C115.719 29.3236 114.684 30.1908 113.565 30.1908ZM113.799 22.9484C112.397 22.9484 110.945 23.5776 110.344 24.9717L112.063 25.7025C112.43 24.9717 113.114 24.7339 113.833 24.7339C114.834 24.7339 115.853 25.3454 115.869 26.4338V26.5696C115.518 26.3656 114.767 26.0597 113.849 26.0597C111.995 26.0597 110.109 27.0965 110.109 29.0346C110.109 30.8027 111.629 31.9419 113.331 31.9419C114.633 31.9419 115.352 31.3468 115.802 30.6495H115.869V31.6702H117.74V26.6034C117.74 24.2573 116.019 22.9484 113.799 22.9484ZM101.829 24.8461H99.0737V20.3166H101.829C103.277 20.3166 104.099 21.5372 104.099 22.5813C104.099 23.6054 103.277 24.8461 101.829 24.8461ZM101.779 18.477H97.1377V31.6922H99.0738V26.6857H101.779C103.926 26.6857 106.036 25.1035 106.036 22.5818C106.036 20.0606 103.926 18.477 101.779 18.477ZM76.4709 30.193C75.1328 30.193 74.0128 29.0517 74.0128 27.4856C74.0128 25.9012 75.1328 24.7438 76.4709 24.7438C77.792 24.7438 78.8288 25.9013 78.8288 27.4856C78.8288 29.0517 77.792 30.193 76.4709 30.193ZM78.695 23.9772H78.628C78.1934 23.4494 77.3568 22.9726 76.3038 22.9726C74.096 22.9726 72.0726 24.9483 72.0726 27.4856C72.0726 30.0056 74.096 31.9639 76.3038 31.9639C77.3568 31.9639 78.1933 31.487 78.628 30.9424H78.695V31.589C78.695 33.3096 77.792 34.2287 76.3371 34.2287C75.1502 34.2287 74.4143 33.3603 74.113 32.6282L72.4243 33.3433C72.9088 34.5349 74.1962 36 76.3372 36C78.6119 36 80.535 34.6373 80.535 31.3164V23.2449H78.695L78.695 23.9772ZM81.8731 31.6914H83.8121V18.4763H81.8731V31.6914ZM86.672 27.332C86.6221 25.5949 87.9938 24.7096 88.98 24.7096C89.7496 24.7096 90.4011 25.1014 90.6194 25.663L86.672 27.332ZM92.6921 25.8331C92.3244 24.829 91.204 22.9726 88.913 22.9726C86.6383 22.9726 84.7488 24.7947 84.7488 27.4683C84.7488 29.9887 86.6221 31.964 89.13 31.964C91.1534 31.964 92.3244 30.7042 92.8097 29.9717L91.3045 28.9498C90.8027 29.6992 90.1174 30.1931 89.13 30.1931C88.1439 30.1931 87.4412 29.7331 86.9904 28.8306L92.8928 26.3444L92.6921 25.8331ZM45.6614 24.352V26.2593H50.1431C50.0093 27.3321 49.6581 28.1153 49.1229 28.6603C48.4705 29.3243 47.4504 30.0568 45.6614 30.0568C42.902 30.0568 40.7449 27.792 40.7449 24.9822C40.7449 22.1723 42.902 19.9072 45.6614 19.9072C47.1498 19.9072 48.2365 20.5034 49.0393 21.2697L50.3608 19.9241C49.24 18.8344 47.7519 18 45.6614 18C41.8814 18 38.7041 21.1334 38.7041 24.9822C38.7041 28.8305 41.8814 31.964 45.6614 31.964C47.7013 31.964 49.2401 31.2827 50.4439 30.0056C51.6815 28.7454 52.0662 26.9745 52.0662 25.5438C52.0662 25.1015 52.0325 24.6928 51.9656 24.352H45.6614ZM57.162 30.193C55.8238 30.193 54.6699 29.069 54.6699 27.4683C54.6699 25.8505 55.8238 24.7439 57.162 24.7439C58.4996 24.7439 59.6536 25.8505 59.6536 27.4683C59.6536 29.069 58.4996 30.193 57.162 30.193ZM57.162 22.9726C54.7197 22.9726 52.73 24.8628 52.73 27.4683C52.73 30.0568 54.7197 31.964 57.162 31.964C59.6033 31.964 61.5934 30.0568 61.5934 27.4683C61.5934 24.8628 59.6033 22.9726 57.162 22.9726ZM66.8291 30.193C65.4919 30.193 64.3375 29.069 64.3375 27.4683C64.3375 25.8505 65.492 24.7439 66.8291 24.7439C68.1673 24.7439 69.3208 25.8505 69.3208 27.4683C69.3208 29.069 68.1673 30.193 66.8291 30.193ZM66.8291 22.9726C64.3878 22.9726 62.3981 24.8628 62.3981 27.4683C62.3981 30.0568 64.3878 31.964 66.8291 31.964C69.2714 31.964 71.2611 30.0568 71.2611 27.4683C71.2611 24.8628 69.2714 22.9726 66.8291 22.9726Z"
                    fill="black"></path>
            <path
                    d="M17.1955 20.2345L6.10352 32.008C6.10393 32.0104 6.10477 32.0124 6.10516 32.0149C6.44534 33.2934 7.61306 34.2347 8.9989 34.2347C9.55289 34.2347 10.073 34.085 10.5191 33.822L10.5545 33.8013L23.0406 26.5962L17.1955 20.2345Z"
                    fill="#EB3131"></path>
            <path
                    d="M28.4174 18.23L28.4068 18.2227L23.0161 15.0977L16.9429 20.5019L23.0372 26.5955L28.3994 23.5015C29.3395 22.994 29.9778 22.0029 29.9778 20.8601C29.9778 19.7254 29.3482 18.7392 28.4174 18.23Z"
                    fill="#F6B60B"></path>
            <path
                    d="M6.10173 9.66211C6.03505 9.908 6 10.1656 6 10.433V31.2378C6 31.5048 6.03463 31.7632 6.10215 32.0082L17.5771 20.5356L6.10173 9.66211Z"
                    fill="#5778C5"></path>
            <path
                    d="M17.2769 20.8353L23.0186 15.0954L10.5465 7.86427C10.0931 7.59274 9.56402 7.43604 8.99785 7.43604C7.61201 7.43604 6.44272 8.3791 6.10247 9.65905C6.10205 9.6603 6.10205 9.66116 6.10205 9.66225L17.2769 20.8353Z"
                    fill="#3BAD49"></path>
            <path
                    d="M44.9244 10.2667H41.922V11.0704H44.1719C44.1107 11.7263 43.8695 12.2412 43.4626 12.6152C43.0558 12.9892 42.5363 13.177 41.922 13.177C41.2482 13.177 40.6773 12.9231 40.2094 12.4187C39.751 11.9038 39.5179 11.267 39.5179 10.4999C39.5179 9.73287 39.751 9.09613 40.2094 8.58127C40.6773 8.07684 41.2482 7.82457 41.922 7.82457C42.2678 7.82457 42.5975 7.88892 42.8997 8.02986C43.2021 8.17069 43.4449 8.3673 43.6347 8.61958L44.2056 8.00203C43.9467 7.68363 43.6186 7.44014 43.2117 7.26269C42.8048 7.08523 42.3803 7.00006 41.9219 7.00006C41.023 7.00006 40.2608 7.3375 39.6384 8.01074C39.0161 8.68562 38.7041 9.51716 38.7041 10.4999C38.7041 11.4827 39.0161 12.3161 39.6384 12.9893C40.2608 13.6624 41.023 14 41.9219 14C42.8659 14 43.6186 13.6729 44.1975 13.0084C44.7073 12.4553 44.9678 11.7073 44.9678 10.7714C44.9678 10.6131 44.9501 10.4442 44.9244 10.2667ZM46.0875 7.14951V13.8503H49.7042V13.0274H46.8836V10.9018H49.4277V10.0981H46.8836V7.97411H49.7042V7.14949L46.0875 7.14951ZM54.7755 7.97414V7.14951H50.5188V7.97414H52.2492V13.8503H53.0452V7.97414H54.7755ZM58.6294 7.14951H57.8334V13.8503H58.6294V7.14951ZM63.8836 7.97414V7.14951H59.6269V7.97414H61.3571V13.8503H62.1531V7.97414H63.8836ZM71.9162 8.02112C71.3019 7.33745 70.5493 7 69.6503 7C68.7498 7 67.9972 7.33744 67.3828 8.01068C66.7685 8.67521 66.4663 9.50841 66.4663 10.4999C66.4663 11.4914 66.7685 12.3247 67.3828 12.9893C67.9972 13.6624 68.7498 13.9999 69.6503 13.9999C70.5412 13.9999 71.3018 13.6624 71.9162 12.9893C72.5305 12.3247 72.8328 11.4914 72.8328 10.4999C72.8328 9.5171 72.5305 8.68552 71.9162 8.02112ZM67.9538 8.58122C68.4121 8.07678 68.9749 7.82451 69.6503 7.82451C70.3241 7.82451 70.887 8.07679 71.3372 8.58122C71.7956 9.07697 72.0206 9.72399 72.0206 10.4999C72.0206 11.2775 71.7956 11.9228 71.3372 12.4186C70.887 12.923 70.3241 13.177 69.6503 13.177C68.9749 13.177 68.412 12.923 67.9538 12.4186C67.505 11.9124 67.2799 11.2775 67.2799 10.4999C67.2799 9.72401 67.505 9.08739 67.9538 8.58122ZM74.724 9.67715L74.6903 8.38457H74.724L77.8727 13.8502H78.7041V7.14945H77.9081V11.0703L77.9418 12.3629H77.9081L74.8977 7.14945H73.928V13.8502H74.724V9.67715Z"
                    fill="black" stroke="black" stroke-width="0.26666" stroke-miterlimit="10"></path>
        </svg>
    </a>
</div>

<style>
</style>
