---
import AppleDownloadButton from "../components/AppleDownloadButton.astro";
import AndroidDownloadButton from "../components/AndroidDownloadButton.astro";
interface Props {
    appleButton?: boolean,
    androidButton?: boolean,
}

const {
    appleButton,
    androidButton
} = Astro.props;
---

<section id="download" aria-label="" class="">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div
          class="relative -mx-4 overflow-hidden px-4 py-20 sm:-mx-6 sm:px-6 md:mx-0 md:rounded-5xl md:px-16 xl:px-24 xl:py-40">
            <div class="relative mx-auto grid max-w-2xl gap-x-32 gap-y-2 text-center xl:max-w-none">
                <p class="mt-4 text-xl font-medium tracking-tight text-white/50 md:text-2xl lg:text-4xl">Now available
                    to download
                </p>
                <h4 class="text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-7xl">
                    Lets start & grow with us
                </h4>
                <div class="mt-12 flex flex-wrap justify-center gap-x-6 gap-y-4">
                    {appleButton ?
                      <AppleDownloadButton></AppleDownloadButton>
                      : null
                    }
                    {androidButton ?
                      <AndroidDownloadButton></AndroidDownloadButton>
                      : null
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .download {
        padding-top: 5rem;
        padding-bottom: 7rem;
    }

    .download-container {
        display: flex;
        gap: 50px;
        justify-content: center;
    }

    .download-container-button {
        display: flex;
        align-items: center;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 3rem;
    }

    h4 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
