---
import FeatureRight from "../components/FeatureRight.astro";
import FeatureLeft from "../components/FeatureLeft.astro";
interface Props {
}

const { 
} = Astro.props;
---

<div class="feature">
		<div class="mx-auto max-w-5xl lg:text-center flex flex-col justify-center items-center md:pt-24 md:pb-24">
			<h1 class="lg:text-7xl text-4xl md:text-5xl font-bold tracking-tight text-center">
				<span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900">Level Up with</span>
				<span class="text-transparent text-gradient bg-clip-text bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900">LLamatracker</span>
			</h1>
			<p class="mt-6 text-md text-gray-500 max-w-lg text-center">
				Get to the next level with these features.
			</p>
		</div>
	<div class="p-5 pb-24 w-screen overflow-hidden gap-6 flex flex-col md:block">
		<div id="search-profile"></div>
		<div id="stats-detail"></div>
		<FeatureRight feature="home" secondaryFeature="stats" section="1"></FeatureRight>
		<div id="daily-shop"></div>
		<FeatureLeft feature="shop" secondaryFeature="shop-detail" section="2"></FeatureLeft>
		<div id="official-news"></div>
		<FeatureRight feature="news" secondaryFeature="news-detail" section="3"></FeatureRight>
	</div>
</div>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
