---
import FeatureRight from "../components/FeatureRight.astro";
import FeatureLeft from "../components/FeatureLeft.astro";
interface Props {
}

const { 
} = Astro.props;
---

<div class="feature">
	<div>
		<FeatureRight></FeatureRight>
		<FeatureLeft></FeatureLeft>
	</div>
	<div>
		<FeatureRight></FeatureRight>
		<FeatureLeft></FeatureLeft>
	</div>
</div>

<style>
</style>
