---
import IphoneBorder from "../components/IphoneBorder.astro";

interface Props {}

const {} = Astro.props;
---
<div class="pt-20 pb-20	max-w-screen-xl mx-auto md:p-5 md:m-h-screen md:content-center overflow-hidden">
    <div class="w-full z-10 md:top-20 md:relative">
        <div class="home-container-text text-center">
            <h2 class="text-5xl font-bold	leading-none m-0">Get more with</h2>
            <h1 class="text-6xl font-bold	leading-none m-0"><span class="text-gradient">Llamatracker</span></h1>
        </div>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="flex items-center md:flex-row-reverse">
            <div class="-rotate-12 w-72">
                <IphoneBorder section="home" size="s"></IphoneBorder>
            </div>
            <div class="home-container-text text-center	z-10 md:-right-8 relative right-3">
                <h4 class="text-3xl font-bold	leading-none m-0">In your hand</h4>
                <h3 class="text-4xl font-bold	leading-none m-0"><span class="text-gradient">Stats & Tools</span></h3>
            </div>
        </div>
        <div class="flex items-center md:flex-row-reverse">
            <div class="home-container-text text-center	z-10 md:-left-8 relative left-3">
                <h4 class="text-3xl font-bold	leading-none m-0">Keep updated</h4>
                <h3 class="text-4xl font-bold	leading-none m-0"><span class="text-gradient">News & Shop</span></h3>
            </div>
            <div class="rotate-12 w-72">
                <IphoneBorder section="shop" size="s"></IphoneBorder>
            </div>
            
        </div>
    </div>
</div>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
